<h2>Partidos del Dia</h2>

<div class="own-card">
  <table>
    <tr>
      <th scope="col">Hora</th>
      <th scope="col">Sede</th>
      <th scope="col">Grupo</th>
      <th scope="col">Equipo 1</th>
      <th scope="col">Equipo 2</th>
    </tr>
    <tr>
      
      <td>7:00 hs</td>
      <td>Estadio Al Zumama</td>
      <td>Grupo 2</td>
      <td><img src="../../assets/img/banderas/200px-Flag_of_Senegal.svg.png" class="flag" alt=""> Senegal</td>
      <td><img src="../../assets/img/banderas/vlag-nederland.png" class="flag" alt=""> Holanda</td>
    </tr>
  </table>
</div>
