<div class="container-fluid">
    <div class="row navbar ">
        <div class="col col-2 titulo">
            <div class="logo"></div>
            <div class="title">Qatar 2022</div>
        </div>
        <div class="busca col col-7"><i class="bi bi-search"></i><input type="search" name="" id=""></div>
        <div class="menu col col-3">
            <nav class="botonera">
               <a routerLink="home"> <div class="button">Inicio</div></a>
               <a routerLink="hoy" > <div class="button">Hoy</div></a>
                <a routerLink="noticias"> <div class="button">Noticias</div></a>
                <a routerLink="sedes"> <div class="button">Sedes</div></a>
                <a routerLink="admin"> <div class="button">Administrador</div></a>
            </nav>
        </div>
    </div>
</div>
<div class="fixed"></div>
