<div class="flex">
    <div class="group">
        <div class="bandera">
            <a href="#">
                <h4>Gurpo A</h4>
            </a>
        </div>
        <ul>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/Catar.svg" alt="" class="flag" />Qatar
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/Flag_of_Ecuador_(1900–2009).svg.webp" alt=""
                        class="flag" />Ecuador
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/200px-Flag_of_Senegal.svg.png" alt="" class="flag" />Senegal
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/vlag-nederland.png" alt="" class="flag" />Holanda
                </li>
            </a>
        </ul>
    </div>
    <div class="group">
        <a href="#">
            <h4>Gurpo B</h4>
        </a>
        <ul>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/Bandera-de-Reino-Unido.png" alt="" class="flag" /><img src=""
                        alt="" />Inglaterra
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/iran.png" alt="" class="flag" />Irán
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/estados-unidos.png" alt="" class="flag" />Estados Unidos
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/" alt="" class="flag" />Repechaje euro
                </li>
            </a>
        </ul>
    </div>
    <div class="group">
        <a href="#">
            <h4>Gurpo C</h4>
        </a>
        <ul>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/argentina.jpg" alt="" class="flag" />Argentina
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/arabia.png" alt="" class="flag" />Arabia Saudita
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/1200px-Bandera_de_México_(1914-1920).svg.png" alt=""
                        class="flag" />Mexico
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/Polonia.gif" alt="" class="flag" />Polonia
                </li>
            </a>
        </ul>
    </div>
    <div class="group">
        <a href="#">
            <h4>Gurpo D</h4>
        </a>
        <ul>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/francia.png" alt="" class="flag" />Francia
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/" alt="" class="flag" />Repechaje Inter
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/dinamarca.jpg" alt="" class="flag" />Dinamarca
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/tunez.png" alt="" class="flag" />Túnez
                </li>
            </a>
        </ul>
    </div>
    <div class="group">
        <a href="#">
            <h4>Gurpo E</h4>
        </a>
        <ul>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/espana.png" alt="" class="flag" />España
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/" alt="" class="flag" />Repechaje Inter
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/alemania.webp" alt="" class="flag" />Alemania
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/japon.png" alt="" class="flag" />Japón
                </li>
            </a>
        </ul>
    </div>
    <div class="group">
        <a href="#">
            <h4>Gurpo F</h4>
        </a>
        <ul>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/belgica.svg" alt="" class="flag" />Bélgica
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/canada.jpg" alt="" class="flag" />Canada
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/marruecos.png" alt="" class="flag" />Marruecos
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/croacia.png" alt="" class="flag" />Croacia
                </li>
            </a>
        </ul>
    </div>
    <div class="group">
        <a href="#">
            <h4>Gurpo G</h4>
        </a>
        <ul>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/brasil.jpg" alt="" class="flag" />Brasil
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/serbia.png" alt="" class="flag" />Serbia
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/suiza.jfif" alt="" class="flag" />Suiza
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/camerun.png" alt="" class="flag" />Camerún
                </li>
            </a>
        </ul>
    </div>
    <div class="group">
        <a href="#">
            <h4>Gurpo H</h4>
        </a>
        <ul>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/portugal.jpg" alt="" class="flag" />Portugal
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/ghana.png" alt="" class="flag" />Ghana
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/uruguay.png" alt="" class="flag" />Uruguay
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/img/banderas/corea.png" alt="" class="flag" />Corea del Sur
                </li>
            </a>
        </ul>
    </div>
</div>