<div class="contenedor">
  <div class="title">
    <h1>Mundial de Qatar 2022</h1>
  </div>
</div>
<h2 *ngIf="dias !=0 || horas!=0 || minutos!=0 || segundos!=0 " class="title timer">
  La Copa comienza en: {{ dias }} Días - {{ horas }} Horas - {{ minutos }} -
  Minutos - {{ segundos }} Segundos
</h2>

<div class="home">
  <div>
    <h4>Página dedicada al Mundial de Futbol de Qatar 2022</h4>
    <p>
      La Copa Mundial de Fútbol de la FIFA Catar 2022  será la 22 compentncia de la Copa Mundial
      de Fútbol masculino organizada por la FIFA. Esta edición se realizará
      desde el 21 de noviembre al 18 de diciembre de 2022 en Catar1​ 
      Esta será la tercera vez que la Copa del Mundo de la FIFA se disputará en el
      continente asiático tras la Copa Mundial de Fútbol de 2002 en Corea del
      Sur y Japón y el de Rusia 2018 (aunque esta última contaba con una única
      sede en territorio asiático), y la primera que se celebra en Asia
      Occidental, dada la ubicación euroasiática de la que gozaba el anterior
      anfitrión: Rusia.2​ También por primera vez, el torneo tiene lugar en
      Oriente Próximo, en un país árabe y de mayoría musulmana, así como el de
      menor extensión territorial.3​ Igualmente será el Mundial de mayor tiempo
      de espera desde 1950 respecto a su edición anterior, ya que se
      desarrollará entre los meses de noviembre y diciembre de 2022, a
      diferencia de los meses habituales de junio y julio. De forma paralela
      será la Copa Mundial de Fútbol más corta desde 1978, pues durará solamente
      28 días a diferencia de los 32 días habituales en los últimos
      campeonatos.4​5​
    </p>
  </div>
</div>
